<div class="my-container">  
    <img src="/assets/social-1989152_640.jpg"/>
    <div class="data-conference">
        <md-card>
            <md-card-content>
                <h1>Upcoming Data Management Conference</h1>
                <app-countdown finalDate='2017/11/01'></app-countdown>
                <a md-button color="primary" md-raised-button href="http://dataconference.venbryre.co.za">VIEW SITE..</a>
                
            </md-card-content>
        </md-card>
    </div>
</div>
 
