<md-card class="card">
    <md-card-title>Property details</md-card-title>
    <md-input-container>
        <input mdInput [(ngModel)]=model.numberOfBedrooms placeholder="Number of bedrooms">
    </md-input-container>
    <address [(model)]="model.physicalAddress" title="Physical Address"></address>
    <address [(model)]="model.postalAddress" title="Postal Address"></address>

    
    <md-card-actions>
        <button (click)="save()" md-button md-raised-button title='Save'>
            <md-icon>save</md-icon>
        </button>
        <button (click)="deleteConfirmation()" md-button md-raised-button title='Delete' *ngIf="!isNewRecord">
            <md-icon>delete</md-icon>
        </button>
        <button routerLink="/property-list" md-button md-raised-button title='Back'>
            <md-icon>keyboard_backspace</md-icon>
        </button>
    </md-card-actions>
</md-card>