<md-card class="card">
    <button md-fab [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item routerLink="/dealer"> 
      <md-icon>build</md-icon>
      <span>Add Dealer</span>
    </button>
  </md-menu>
  &nbsp;
  <md-input-container class="half-width">
      <input mdInput placeholder="Search" [(ngModel)]="searchBy">
  </md-input-container>  
</md-card>

  <md-card *ngFor='let dealer of dealers | filter:searchBy' class='card' [routerLink]="['/dealer', dealer.id]">
    <md-card-title-group>
        <img md-card-md-image src="../../assets/ic_build_black_24px.svg">
        <md-card-title>{{dealer.name}}</md-card-title>
        <md-card-subtitle>{{dealer.code}}</md-card-subtitle>
    </md-card-title-group>
  </md-card>