/* You can add global styles to this file, and also import other style files */
html,body{
  margin:0;
  height: 100vh;  
}
.card{
  margin-top: 8px;
  cursor: pointer; 
  max-width: 800px;
}

.full-width{
  width:100%;
}

.half-width{
  width:50%;
}

.site-content{
  padding: 10px;  
  overflow: auto;
  height: 85%;
}
.site-container{
  height: 100vh;
  
}
.imgThreshold{
  max-width: 80vw;
  
  text-align: center;
}

.example-spacer {
  flex: 1 1 auto;
}
h1 {
  font-size: 20px;
}

.add-fab {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.global-progress-bar{
  position: fixed;
  top: 90vh;
  right: 10px;
}