<div class="bg-image bg-image-landing">
  <div style="margin-top: 30%; text-align: center;">
    <h1>Welcome</h1>
    <p>
      <button type="button" class="btn-outline">SIGN IN</button>
    </p>
  </div>
</div>

  <md-card >
    <md-card-content>
          <img md-card-image  alt="Sam the Prop Guy" class="imgThreshold"/>

    </md-card-content>
    <md-card-actions>
      <button md-button routerLink="/dealer-list" md-raised-button>Search for Dealer</button>
      <button md-button routerLink="/property-list" md-raised-button>Search for Property</button>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>