<md-accordion displayMode='default'>

<md-expansion-panel #myPanel>
  <md-expansion-panel-header>
    <mat-panel-description>Expand for {{title}} details</mat-panel-description>
    <mat-panel-title>{{title}}</mat-panel-title>
  </md-expansion-panel-header>
  <md-input-container>
        <input mdInput [(ngModel)]=address.line1 placeholder="Unit/Complex">
    </md-input-container>
    <md-input-container >
        <input mdInput [(ngModel)]=address.line2 placeholder="Street Name">
    </md-input-container>
    <md-input-container>
        <input mdInput [(ngModel)]=address.line3 placeholder="Suburb">
    </md-input-container>
    <p>
    <md-input-container>
        <input mdInput [(ngModel)]=address.city placeholder="City" required>
        <md-error>This field is required</md-error>
    </md-input-container>
    </p>
    <md-input-container >
        <input mdInput [(ngModel)]=address.postalCode placeholder="Postal Code" type="number" minlength="4" maxlength="5" required>
        <md-error>Code not valid</md-error>
        
    </md-input-container>
</md-expansion-panel>

</md-accordion>